@import url("https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap");

html,
body {
  overflow-x: hidden;
}

body {
  background-image: url("../img/KLM-cl.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%;
  height: auto;
  
}

.article p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #f5f5f5;
  text-align: center;
}

header i {
  color: #bd97d6;
  font-size: auto;
}

div a {
  text-decoration-style: none;
}

nav a img {
  width: 50px;
  height: 50px;
}

nav ul,
nav p,
.nav-item a,
nav button span {
  text-align: center;
  color: #f5f5f5;
}

nav {
  background-color: RGB(139, 0, 139);
}

.logo,
.missions,
.library,
.podcast,
.support,
.about {
  background: #cb8aff;
}

.p,
.podcast-content,
.support-bg,
.library-bg,
.mission-bg,
.about-bg {
  background-color: #3f293e;
}


/*--------------- 
  Testimony
-----------------*/
.testimony-wrapper {
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #6403a4a4,
    #6767674a
  );
}

#profile {
  background-color: unset;
}

#post {
  text-align: center;
  background-color: #380958;
  width: 100%;
  color: white;
}

.users h4,
.users p,
.users span,
.darker h4,
.darker span {
  display: inline;
  color: white;
}

.admin {
  background-color: #ffffff80;
}

label {
  color: rgb(255, 255, 255);
}

form {
  width: 100%;
}

.form-group p a {
  color: white;
}

#checkbx {
  background-color: #3f293e;
}

#darker img {
  margin-right: 15px;
  position: static;
}


.admin {
  border: 2px solid;
  border-color: #6403a4a4;
  border-radius: 5px;
  padding: 10px;
}

.users {
  background-color: #6403a4a4;
  padding: 10px;
}

/*--------------- 
      Scroll 
-----------------*/
.users-scroll {
  width: inherit;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* width */
.users-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.users-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
.users-scroll::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
.users-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(122, 11, 102, 0.621);
  cursor: pointer;
}

.footer-bg {
  width: 100vw;
  height: 100px;
}

footer div ul li a {
  text-decoration: none;
}

footer {
  background-color: RGB(150, 111, 51);
}

div a {
  text-decoration: none;
}

/*
--------------------------------------------
events
--------------------------------------------
*/

/*
---------------------------------------------
Responsiive
---------------------------------------------
*/
@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

@media (min-width: 960px) {
  .end {
    margin-left: auto;
  }
  .container-images {
    box-shadow: unset;
  }
  #align,
  .testimony {
    align-self: center;
    width: 100%;
  }
}

@media (max-width: 1200px) {
}
