html,
body {
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #9d16aa;
  left: 0;
  right: 0;
  bottom: -10px;
}


.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem !important;
  font-size: 1.1rem;
  text-transform: capitalize;
}

div a {
  text-decoration-style: none;
}

nav a img {
  width: 50px;
  height: 50px;
}

nav ul,
nav p,
.nav-item a,
nav button span {
  text-align: center;
  color: #fff;
}

label {
  color: rgb(255, 255, 255);
}

form {
  width: 100%;
}

.form-group p a {
  color: white;
}

#checkbx {
  background-color: #3f293e;
}

#darker img {
  margin-right: 15px;
  position: static;
}

footer div ul li a {
  text-decoration: none;
}

footer {
  background-color: RGB(150, 111, 51);
}

div a {
  text-decoration: none;
}

.timeline-entry{
  background-color: #b376b0;
}

/* CSS for the timeline 
#timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.timeline-entry {
  position: relative;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.timeline-date {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(148, 12, 245);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.timeline-content {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
*/
/*
--------------------------------------------
css for testimonies
--------------------------------------------
*/
.carousel .carousel-item {
            color: #999;
            font-size: 14px;
            text-align: center;
            overflow: hidden;
            min-height: 290px;
        }

        .carousel .carousel-item .img-box {
            width: 135px;
            height: 135px;
            margin: 0 auto;
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 50%;
        }

        .carousel .img-box img {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
        }

        .carousel .testimonial {
            padding: 30px 0 30px;
        }

        .carousel .overview {
            font-style: italic;
        }

        .carousel .overview b {
            text-transform: uppercase;
            color: #7AA641;
        }
/*
---------------------------------------------
Responsiive
---------------------------------------------
*/
@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
