@import url("https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap");

html,
body {
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #8fbc54;
  left: 0;
  right: 0;
  bottom: -10px;
}

#nav-bg ul .nav-item a i {
  color: #bd97d6;
  font-size: auto;
}
#nav-bg{
  background-color: #380958;
}

div a {
  text-decoration-style: none;
}

nav a img {
  width: 50px;
  height: 50px;
}

nav ul,
nav p,
.nav-item a,
nav button span {
  text-align: center;
  color: #5e0606;
}

nav {
  background-color: RGB(139, 0, 139);
}

.about,
.podcast,
.support-bg,
.library,
.mission {
  background-color: #3f293e;
}

#profile {
  background-color: unset;
}

#post {
  text-align: center;
  background-color: #380958;
  width: 100%;
  color: white;
}

.users h4,
.users p,
.users span,
.darker h4,
.darker span {
  display: inline;
  color: white;
}

.admin {
  background-color: #ffffff80;
}

label {
  color: rgb(255, 255, 255);
}

form {
  width: 100%;
}

.form-group p a {
  color: white;
}

#checkbx {
  background-color: #3f293e;
}

#darker img {
  margin-right: 15px;
  position: static;
}

.footer-bg {
  width: 100vw;
  height: 100px;
}

footer div ul li a {
  text-decoration: none;
}

footer {
  background-color: RGB(150, 111, 51);
}

div a {
  text-decoration: none;
}

.social{
  background-color: #380958;
}
/*
--------------------------------------------
events
--------------------------------------------
*/

/*
---------------------------------------------
Responsiive
---------------------------------------------
*/
@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

@media (min-width: 960px) {
  .end {
    margin-left: auto;
  }
  .container-images {
    box-shadow: unset;
  }
  #align,
  .testimony {
    align-self: center;
    width: 100%;
  }
}

@media (max-width: 1200px) {
}
