@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Caveat&family=Lobster+Two&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  overflow-x: hidden;
  margin: auto;
}

p {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.nuggets, .prayer-request-form, .event-signup-form {
  overflow: hidden;
  position: relative;
  min-height: 50vh;
}
.video-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

/*-------------------------------------
            Animations
-------------------------------------*/

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}

.slideInLeft {
  animation: slideInLeft 1s ease-in;
}

/*--------------------------------------
           Backgrounds                  
---------------------------------------*/

.nuggets {
  background-image: linear-gradient(to top, rgb(51, 8, 103) 0%, rgba(255, 255, 255, 0.25) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sessions {
  background-image: url("../../img/mount.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.event-bg {
  background-image: url("../../img/lou-batier-5EoWFa_Htdo-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.prayer-request-form {
  background-image: linear-gradient(-225deg, rgba(7, 38, 70, 0.738) 0%, rgba(245, 120, 220, 0.5) 100%);
}

.testimony {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.timeline-entry {
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}
.event-signup-form {
  background-image: linear-gradient(-225deg, rgba(7, 38, 70, 0.738) 0%, rgba(245, 120, 220, 0.5) 100%);
}

.social {
  background-color: #380958;
}

.copyright {
  background-color: #37343b;
}

#checkbx {
  background-color: #3f293e;
}
/*--------------------------------------
           Background-end                
---------------------------------------*/

h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
  margin: 30px 0 60px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #9d16aa;
  left: 0;
  right: 0;
  bottom: -10px;
}

nav {
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

nav a img {
  display: block;
  width: 50px;
  height: 50px;
}

.nav-item a,
nav button span {
  text-align: center;
  color: #fff;
}

.tick {
  width: 200px;
  height: 200px;
  color: lime;
}

.testimony-form label {
  color: rgb(255, 255, 255);
}

form {
  width: 100%;
}

.form-group p a {
  color: white;
}

#darker img {
  margin-right: 15px;
  position: static;
}

footer div ul li a {
  text-decoration: none;
}

footer {
  background-color: rgba(150, 111, 51);
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

div a {
  text-decoration: none;
}

/* CSS for the timeline 
#timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.timeline-entry {
  position: relative;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.timeline-date {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(148, 12, 245);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.timeline-content {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
*/
/*
--------------------------------------------
css for testimonies
--------------------------------------------
*/

.carousel .carousel-item {
  overflow: hidden;
  color: #999;
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  text-align: justify;
  min-height: 300px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.carousel .carousel-item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid #9d16aa;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 30px;
}

.carousel .overview {
  font-style: italic;
  text-align: center;
}

.carousel .overview b {
  text-transform: uppercase;
  color: #9d16aa;
}
/*
---------------------------------------------
Contact CSS
---------------------------------------------
*/

.contact-area {
  background: url("../../img/lion.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.contact-wall {
  background-image: linear-gradient(to top, #330867 0%, #fff 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Lobster Two", cursive;
  font-weight: 1.5rem;
  font-size: 1.2rem;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .contact {
    margin-bottom: 60px;
  }
}

.contact input {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000000;
  height: 60px;
  padding: 10px;
  width: 100%;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-left: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact textarea {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #232434;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  padding-left: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact input:focus {
  background: #fff;
  border: 1px solid #fff;
  color: #232434;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 none;
}

.contact textarea:focus {
  background: #fff;
  border: 1px solid #fff;
  color: #232434;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 none;
}

.form-control::placeholder {
  color: #000000;
  font-weight: 300;
}

.btn-contact-bg {
  border-radius: 30px;
  color: #fff;
  padding: 15px 27px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #7564e5;
  font-family: "poppins", cursive;
  cursor: pointer;
  width: 100%;
}

.btn-contact-bg:hover,
.btn-contact-bg:focus {
  background: #49398a50;
  color: #fff;
}

/*START ADDRESS*/

.single_address {
  overflow: hidden;
  margin-bottom: 10px;
  padding-left: 40px;
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  .single_address {
    padding-left: 0px;
  }
}

.single_address i {
  background: #f6f6f6;
  color: #7564e5;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  float: left;
  margin-right: 14px;
  font-size: 22px;
  -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single_address:hover i {
  background: #7564e5;
  color: #fff;
}

.single_address h4 {
  font-size: 18px;
  margin-bottom: 0px;
  overflow: hidden;
  font-weight: 600;
}

.single_address p {
  overflow: hidden;
  margin-top: 5px;
  background-color: #fff;
}

.section-title h1 {
  font-size: 44px;
  font-weight: 500;
  margin-top: 0;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 15px;
  background-color: #fff;
}
.section-title p {
  padding: 0 10px;
  width: 70%;
  margin: auto;
  letter-spacing: 1px;
}
.section-title {
  margin-bottom: 60px;
}
.text-center {
  text-align: center !important;
}
/*
---------------------------------------------
Responsiive
---------------------------------------------
*/

@media only screen and (max-width: 768px) {
  .welcome {
    background-image: linear-gradient(to top, #330867 0%, #fff 100%);
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
  }

  .papa {
    display: block;
    width: 50vw;
    height: auto;
    margin: auto;
  }

  .nuggets {
    background-image: linear-gradient(to top, rgb(51, 8, 103) 0%, rgba(255, 255, 255, 0.25) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sessions {
    background-image: url("../../img/mount.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .papa {
    display: block;
    width: 50vw;
    height: auto;
    margin: auto;
  }

  .social {
    background-color: #380958;
  }

  .copyright {
    background-color: #37343b;
  }

  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
